:root {
  --background: #ffffff;
  --background-details: #707070;
  --text-color: #888888;
  --text-color-alt: #ffffff;
  --btn-text-color: #888888;
  --btn-background: #ffffff;
  --btn-shadow: #00000029;
  --border-color: #707070;
}
/* PADRÃO */
body {
  background: var(--background) no-repeat;
  opacity: 1;
  overflow-x: hidden;
}
a {
  text-decoration: inherit;
  color: inherit;
}

h1 {
  color: var(--text-color);
  font: normal normal bold 40px/49px Helvetica;
}
h2 {
  color: var(--text-color);
  font: normal normal normal 20px/24px Helvetica;
}
h3 {
  color: var(--text-color);
  font: normal normal normal 14px/16px Helvetica;
}
p {
  color: var(--text-color);
  font: normal normal normal 12px/18px Helvetica;
}
button {
  cursor: pointer;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: var(--background);
  box-shadow: var(--btn-shadow) 0px 1px 6px;
}
button:hover {
  transition: 100ms ease-in-out;
  transform: scale(1.05);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
img {
  image-rendering: crisp-edges;
}
.container {
  height: auto;
  padding: 16px;
  text-align: left;
  margin-bottom: 60px;
}

/* HEADER */
.container-header {
  background-image: -webkit-linear-gradient(
    70deg,
    var(--background) 27.8%,
    var(--background-details) 28%
  );
  background-size: contain;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.container-header .title h1 {
  color: var(--text-color-alt);
}
.container-header .title h2 {
  color: var(--text-color-alt);
}
.container-header .titleDesc h3 {
  color: var(--text-color-alt);
}
.container-header .title {
  margin-top: 66px;
}
.container-header .titleBtn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin-top: 2rem;
  justify-items: center;
}
.container-header .titleBtn button {
  width: 130px;
  height: 40px;
}

/* CONTEÚDO 01 (Texto e Formulário) */
.text h2 {
  margin-bottom: 17px;
}
.text p {
  margin-bottom: 30px;
}

.formulary form > label {
  color: var(--text-color);
  font: normal normal normal 12px/14px Helvetica;
}
.formulary form > input {
  width: 100%;
  height: 30px;
  margin-top: 7px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
}
.formulary div > label {
  color: var(--text-color);
  font: normal normal normal 12px/14px Helvetica;
  margin-bottom: 20px;
  margin-right: 40px;
}

.formulary form > button {
  font: normal normal normal 16px/16px Helvetica;

  background: transparent;
  height: 40px;
  margin-top: 20px;
  width: 100%;
}

/* Conteúdo 02 (Produtos) */
.content02 {
  margin-bottom: 60px;
}
.hr-title {
  display: flex;
  width: 100vw;
  align-items: center;
  margin-bottom: 23px;
}
.hr-title hr {
  width: 100vw;
  flex: 1;
}
.hr-title h2 {
  padding: 10px 17px;
  font: normal normal bold 18px/16px Helvetica;
}
.content02 .card {
  display: flex;
  margin-bottom: 20px;
}

.product-description {
  padding: 10px 10px 10px 0;
  display: none;
}
.content02 .card .product-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.content02 .card .product-desc h2,
h3 {
  margin: 10px 0;
}
.content02 .card .product-desc button {
  width: 100%;
  height: 30px;
  font: normal normal normal 16px/16px Helvetica;
}
.content02 .card img {
  width: 170px;
  height: 130px;
  border: 1px solid var(--border-color);
  margin-right: 23px;
  align-items: flex-start;
}
.content02 .card h2 {
  font: normal normal bold 16px/16px Helvetica;
}
.content02 .more-btn {
  display: flex;
  justify-content: center;
}
.content02 div button {
  width: 260px;
  height: 40px;
}

/* Conteúdo 03 (Formulário)*/
.content03 h3 {
  margin-bottom: 28px;
}
.formulary .friend-camp div > label {
  color: var(--text-color);
  font: normal normal normal 12px/14px Helvetica;
}
.formulary .friend-camp div > input {
  width: 100%;
  height: 30px;
  margin-top: 7px;
  margin-bottom: 20px;
  border: 1px solid var(--border-color);
}
.formulary .btn-submit button {
  font: normal normal normal 16px/16px Helvetica;
  background: transparent;
  height: 40px;
  margin-top: 20px;
  width: 100%;
}

/* Footer */
.container-footer {
  background-image: -webkit-linear-gradient(
    -85deg,
    var(--background) 19.7%,
    var(--background-details) 20%
  );
  padding: 17px;
  height: 160px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-footer p {
  color: var(--text-color-alt);
  margin: 2px;
}

/* Animação produtos */

.animate {
  animation: Fade 300ms ease-in-out;
}
@keyframes Fade {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
